<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is the home page  1 + 2 </h1>
    <h3> <%= 1+2 %> </h3>

    <h3> <%= "Abhishek Tiwari".toUpperCase() %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias magnam asperiores nam nulla illo natus, eius sed rem provident mollitia.</p>
    <button>Click me</button>
</body>
</html>